{% extends 'base.html.twig' %}

{% block title %}À propos- Afrobio{% endblock %}

{% block content %}

   <div class="apropos">
     <strong>AFROBIO</strong>
     <hr>
     <p>
       Proposer à des commerçants de fruits et légumes exotiques une plate forme qui leur permet d'acheter directement aux producteurs à moindre coût et surtout avoir accès qu'à des produits biologiques. Et permettre également aux producteurs africains recherchant des clients français de les mettre directement en contact sans intermédiaire.
     </p>
   </div>

{% endblock %}
